<div class="title">
  <h1 translate>Translate.Configuration.Title</h1>
  <a [routerLink]="['']">
    <button mat-raised-button><mat-icon>arrow_back</mat-icon>{{ 'Translate.UI.Back' | translate }}</button>
  </a>
</div>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div>
  <p class="preamble" translate>Translate.Configuration.Description</p>
</div>
<div *ngIf="form">
  <form [formGroup]="form">
    <section class="config-section">
      <mat-form-field>
        <mat-label>{{ 'Translate.Configuration.InstitutionalURL' | translate }}</mat-label>
        <input matInput id="institutionUrl" formControlName="institutionUrl" required pattern="^(https?):\/*(?:[^:@]+(?::[^@]+)?@)?(?:[^\s:/?#]+|\[[a-f\d:]+\])(?::\d+)?(?:\/[^?#]*)?(?:\?[^#]*)?(?:#.*)?" autocomplete="off" type="url">
        <mat-error *ngIf="form.controls.institutionUrl.touched && form.controls.institutionUrl.invalid">{{getUrlErrorMessage()}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>{{ 'Translate.Configuration.ContactEmail' | translate }}</mat-label>
        <input matInput id="contactEmail" formControlName="contactEmail" required email autocomplete="off" type="email">
        <mat-error *ngIf="form.controls.contactEmail.touched && (form.controls.contactEmail.invalid || form.controls.contactEmail.required)">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </section>
    <div class="commands-container">
      <button mat-stroked-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty) || form?.invalid">{{ 'Translate.UI.Save' | translate }}</button>
      <button mat-stroked-button type="button" color="default" (click)="onLoadOrReset()" [disabled]="!(form?.dirty)">{{ 'Translate.UI.Reset' | translate }}</button>
    </div>
  </form>
</div>