div.title {
  display: flex;
  margin-top: 10px;
}

div.title a {
  margin-left: auto;
}

.preamble {
  margin: 0.5rem 0;
}

div.title h2 {
  margin-bottom: 0;
}

section.config-section {
  margin-bottom: 1rem;

  .mat-form-field {
    width: 100%;
  }
}

.commands-container {
  button {
    margin-right: 10px;
  }
}