<section>
  <div buttons>
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
  </div>
</section>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div>
  <p class="preamble">These details will be sent to CrossRef with each API call. This allows you to use the more reliable servers reserved for "polite users". CrossRef will only contact you if there is an issue with your API use.</p>
</div>
<div *ngIf="form">
  <form [formGroup]="form">
    <section class="config-section">
      <mat-form-field>
        <input matInput placeholder="Institutional URL" formControlName="InstitutionUrl" required url>
        <mat-error *ngIf="InstitutionUrl.invalid">{{getUrlErrorMessage()}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Contact email" formControlName="contactEmail" required email>
        <mat-error *ngIf="contactEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      </section>
  </form>
</div>