<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div>
  <p translate>Translate.Main.Description</p>
  <hr />
  <p translate>Translate.Main.Instructions</p>
</div>
<div class="section">
  <form [formGroup]="searchForm">
    <section class="search-options">
      <mat-radio-group class="search-radio-group" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
        <mat-radio-button (click)="setSearchType(SEARCH_TYPE.DOI)" selected="true">DOI</mat-radio-button>
        <mat-radio-button (click)="setSearchType(SEARCH_TYPE.METADATA)">Metadata search</mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="" *ngIf="searchForm.controls.type.value === SEARCH_TYPE.DOI" formGroupName="doi">
      <mat-form-field class="mat-form-field">
        <mat-label>{{ 'Translate.Search.DOI' | translate }}</mat-label>
        <input matInput formControlName="doiSearch" name="doiSearch" autocomplete="off" required pattern="^10.\d{4,9}\/[-._;()\/:a-zA-Z0-9]+$">
        <mat-error *ngIf="searchForm.controls.doi.controls.doiSearch.touched && !searchForm.controls.doi.controls.doiSearch.pattern">{{getDoiSearchErrorMessage()}}</mat-error>
      </mat-form-field>
    </section>
    <section class="" *ngIf="searchForm.controls.type.value === SEARCH_TYPE.METADATA" formGroupName="metadata">
      Metadata - coming soon!
    </section>
    <div class="commands-container">
      <button mat-stroked-button type="button" color="primary" (click)="search()" [disabled]="!(searchForm?.dirty)">{{ 'Translate.UI.Search' | translate }}</button>
      <button mat-stroked-button type="button" color="default" (click)="reset()" [disabled]="!(searchForm?.dirty)">{{ 'Translate.UI.Reset' | translate }}</button>
    </div>
  </form>
</div>
<div class="section" *ngIf="searchResults">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Search results</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of searchResults.items">
          <h3 matLine>{{ item.title }}</h3>
          <p matLine>
            <span *ngIf="item.subtitle.length > 0">{{ item.subtitle }}</span>
          </p>
          <p matLine *ngIf="item.author.length > 0">
            <span><strong>Author:</strong> {{ item.author }}</span>
          </p>
          <p matLine>
            <span *ngIf="item.publisher.length > 0"><strong>Publisher:</strong> {{ item.publisher }}</span>
          </p>
          <p matLine>
            <span *ngIf="item.ISSN.length > 0"><strong>ISSN:</strong> {{ item.ISSN }}</span>
          </p>
          <p matLine>
            <span *ngIf="item.DOI.length > 0"><strong>DOI:</strong> {{ item.DOI }}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<!-- <ng-template #entities>
  <h1 translate>Translate.Main.Title</h1>
  <p translate>Translate.Main.Description</p>
  <div class="eca-actions">
    <button mat-flat-button color="secondary" (click)="clear()" [disabled]="!selectedEntity" translate>Translate.UI.Clear</button>
    <button mat-flat-button color="primary" (click)="update(apiResultArea.value)"
      [disabled]="!apiResult || loading" translate>Translate.UI.Update
    </button>
  </div>
  <h3>Entities</h3>
  <mat-card [style.display]="apiResult ? '' : 'none'">
    <mat-card-header>
      <mat-card-title>API Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea #apiResultArea [value]="apiResult | json"></textarea>
    </mat-card-content>
  </mat-card>
  <mat-card [style.display]="selectedEntity ? '' : 'none'">
    <mat-card-header>
      <mat-card-title>Selected Entity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{selectedEntity | json}}</pre>
    </mat-card-content>
  </mat-card>  
  <label id="entities-radio-group-label">Select an entity:</label>
  <mat-radio-group
    aria-labelledby="entities-radio-group-label"
    class="entities-radio-group"
    [(ngModel)]="selectedEntity"
    (change)="entitySelected($event)">
    <mat-radio-button *ngFor="let entity of entities$ | async" [value]="entity">
      {{entity.description}}
    </mat-radio-button>
  </mat-radio-group>
</ng-template>
 -->
