.search-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.commands-container {
  button {
    margin-right: 10px;
  }

  margin-bottom: 1rem;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}

.mat-form-field {
  width: 100%;
}

mat-list-item {
  h3 {
    font-weight: bold;
    word-wrap: normal;
  }
}